*.swp
*.sample
/lib
/*.php
/app/etc/modules/Mage_*
/.htaccess*
/*.txt
/*.html
/js/*
/app/code/community
/app/code/core
/var/cache
/var/locks
/var/package
/var/session
/tmp
/var/report
/errors
/includes
*.bak
/skin/frontend/rwd
/var/*
/app/locale/en_US
/app/bootstrap.php
/app/design/frontend/base/default/template/paypal
/skin/frontend/base/default/css
/skin/frontend/default/blue
/skin/frontend/default/default/images
/skin/frontend/default/modern/images
/dev
/app/design/frontend/rwd
/shell/.htaccess
/skin/frontend/base/default/images
/skin/frontend/default/blank/images
/media/*
/app/design/adminhtml/default/default/template/*
/app/design/adminhtml/default/default/etc
/app/design/adminhtml/default/default/layout
/app/design/adminhtml/default/default/locale
/*.sql
